.page-title
  .back_btn
    = link_to :back do
      %span.fa.fa-angle-left
  %h3
    投稿を編集する

.container
  = form_tag("/tweets/#{@tweet.id}", method: :patch ) do
    %h4.tweet_edit
      タイトル（16文字以内）
    %textarea.form-control{name: "title", autofocus: "true", type: "text", row: "1", required: "true", maxlength: "16"}
      = @tweet.title

    .room-select-form
      %h4
        投稿先を選択してください
      .room-select
        %input.radio-inline__input#item-1{:name => "room_id", :type => "radio", :value => "#{current_user.company_id}", checked: "checked"}
        %label.radio-inline__label{:for => "item-1"}
          = current_user.company.company_cd
        %input.radio-inline__input#item-2{:name => "room_id", :type => "radio", :value => "1"}
        %label.radio-inline__label{:for => "item-2"}
          Recruit All

    %h4.tweet_edit
      コンテンツ
    %textarea.form-control{cols: "30", name: "text", type: "text", autofocus: "true", rows: "10", required: "true"}
      = @tweet.text
    %input.btn.btn-primary{type: "submit", value: "投稿する"}
